/* Application-wide Styles */
h1 {
    color: #96bf48 ;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 250%;
    margin: 1px;
  }
  h2, h3 {
    color: #054A49;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 4em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
    background-color: #fdf8f9;
  }
  p {
    margin: 3px;
    color: #054A49;
  }
  /* everywhere else */
  * {
    font-family: Helvetica, sans-serif;
  }